@use "./card.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$nav-back: #2c2323;
$button-color: #55b4f3;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-head {
    font-size: 4em;
}

.sub-head {
    font-size: 3em;
}

.main-head,
.sub-head {
    font-weight: 300;
    padding: 0.5em 0;
}

nav {
    background-color: $nav-back;
    color: #fff;
    padding: 1em;

    &>div {
        display: flex;
        justify-content: space-evenly;

        & button {
            background-color: $nav-back;
        }
    }
}

.nav-sidebar {
    display: none;
}

.side-bar {
    position: fixed;
    background-color: $nav-back;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 10;
    transition: left 0.5s;
}

.open {
    left: 0;
}

.close {
    left: -100%;
}

.nav-links {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

input {
    border: none;
    border-radius: 8px;
    padding: 0.4em;
}

.view-width {
    margin: auto;
    width: 60%;
}

.tag {
    background-color: #e0e0e0;
    color: #00548b;
    font-size: small;
    padding: 5px;
    border-radius: 8px;
    margin: 0 5px;
}

button {
    border: none;
    padding: 0.8em;
    background-color: $button-color;
    color: #fff;
    border-radius: 10px;
    font-size: 1em;

    & a {
        color: #fff;
        text-decoration: none;
    }
}

button:hover {
    background-color: #00548b;
}

.cat-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: small;
    color: #777777;
    & div {
        padding: 1em;
    }
}

.notice {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #777777;
    padding: 0.8em 0;
    display: flex;
    justify-content: space-between;
}

.action-banner {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;

    & .action-font {
        font-weight: 400;
        color: #777777;
    }

    & .action-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.footer-cols {
    display: flex;
    justify-content: space-around;

    &>div {
        h3 {
            font-weight: 400;
            text-transform: uppercase;
        }

        div {
            font-size: small;
            margin: 6px 0;
            color: #e0e0e0;
        }
    }
}

footer {
    background-color: #2c2323;
    color: #fff;
    padding: 3em;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .view-width {
        width: 90%;
    }

    .main-head {
        font-size: 2em;
    }

    .sub-head {
        font-size: 1.5em;
    }

    .card {
        grid-template-columns: auto;
    }

    .card-vertical {
        min-height: 15vh;
        width: 200px;
    }

    .card,
    .card-vertical {
        gap: 5px;
    }

    .card-body {
        font-size: 0.8em;
    }

    .tag {
        padding: 3px;
        font-size: x-small;
    }

    .card-group {
        overflow-x: scroll;
    }

    nav {
        display: none;
    }

    .nav-sidebar {
        display: block;
        background-color: $nav-back;
        color: #fff;
        padding: 0.7em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notice {
        padding: 0.4em 0;
        font-size: small;
    }

    .cat-list {
        & div {
            padding: 0.5em;
        }
    }

    .footer-cols {
        &>div:last-child {
            display: none;
        }
    }
}